/* Mobiles */
@media (max-width: 599px) {
    .words__title{
        font-size: 25px;
    }

    .wordsSection__buttons button{
        font-size: 18px;
        margin-bottom: 5px;
    }

    .continue__button{
        font-size: 18px;
    }

    .words__row{
        row-gap: 5px;
    }
}