.elements__container{
    min-height: 100vh;
}

.elements__title{
    font-size: 70px;
    margin-bottom: 3rem;
}

.elements__row button{
    background: #000;
    font-size: 50px;
    height: auto;
    min-width: 30rem;
}

.elements__row button:hover{
    background-color: #000;
}

/* Tablets */
@media (max-width: 1279px) {
    .elements__title{
        font-size: 50px;
    }

    .elements__row button{
        min-width: 100%;
        font-size: 45px;
    }
}

/* Mobiles */
@media (max-width: 599px) {
    .elements__title{
        font-size: 25px;
    }

    .elements__row button{
        min-width: 100%;
        font-size: 18px;
    }

    .elements__row{
        row-gap: 5px;
    }
}