.issues__container{
    min-height: 100vh;
}

.issues__title{
    font-size: 70px;
    margin-bottom: 3rem;
}

.issues__row button{
    background: #000;
    font-size: 50px;
    height: auto;
    min-width: 30rem;
}

.issues__row button:hover{
    background-color: #000;
}


/* Tablets */
@media (max-width: 1279px) {
    .issues__title{
        font-size: 50px;
    }

    .issues__row button{
        min-width: 100%;
        font-size: 45px;
    }
}

/* Mobiles */
@media (max-width: 599px) {
    .issues__title{
        font-size: 25px;
    }

    .issues__row button{
        min-width: 100%;
        font-size: 20px;
    }

    .issues__row{
        row-gap: 10px;
    }
}