
@font-face {
  font-family: 'Antarctica';
  src: url('./assets/fonts/Antarctica-CondensedMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Antarctica', sans-serif;
  margin: 0;
}

#root {
  max-width: 100vW;
  min-height: 100vh;
  text-align: center;
  font-family: 'Xanh Mono', monospace;
}

.main__container{
  height: 100vh;
  overflow: hidden;
}
