.horoscope__container{
    min-height: 100vh;
}

.horoscope__title{
    font-size: 70px;
    margin-bottom: 3rem;
}

.horoscopeSection__buttons button{
    background: #000;
    font-size: 50px;
    height: auto;
    width: 90%;
    margin-bottom: 1rem;
}

.horoscope__row button:hover{
    background-color: #000;
}


/* Tablets */
@media (max-width: 1279px) {
    .horoscope__title{
        font-size: 50px;
    }

    .horoscopeSection__buttons button{
        font-size: 22px;
    }
}

/* Mobiles */
@media (max-width: 599px) {
    .horoscope__title{
        font-size: 25px;
    }

    .horoscopeSection__buttons button{
        font-size: 18px;
        margin-bottom: 5px;
    }
}